<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ru</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>darsigova_10</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_darsigova_10</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>darsigova_9</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_darsigova_9</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>darsigova_8</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_darsigova_8</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>darsigova_7</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_darsigova_7</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>darsigova_6</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_darsigova_6</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>darsigova_5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_darsigova_5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>darsigova_4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_darsigova_4</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>darsigova_3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_darsigova_3</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>darsigova_2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_darsigova_2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>darsigova_1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_darsigova_1</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>dark_night</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_dark_night</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>ink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_ink</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>maccinz_day</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_maccinz_day</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>maccinz_house</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_maccinz_house</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>maccinz_mountains</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_maccinz_mountains</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>maccinz_ramadan_night</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_maccinz_ramadan_night</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>flat-moon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
    <key>CFBundleIcons~ipad</key>
    <dict>
        <key>CFBundleAlternateIcons</key>
        <dict>
            <key>darsigova_10</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>ic_darsigova_10</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>darsigova_9</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>ic_darsigova_9</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>darsigova_8</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>ic_darsigova_8</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>darsigova_7</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>ic_darsigova_7</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>darsigova_6</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>ic_darsigova_6</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>darsigova_5</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>ic_darsigova_5</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>darsigova_4</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>ic_darsigova_4</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>darsigova_3</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>ic_darsigova_3</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>darsigova_2</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>ic_darsigova_2</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>darsigova_1</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>ic_darsigova_1</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>dark_night</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>ic_dark_night</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>ink</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>ic_ink</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>maccinz_day</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>ic_maccinz_day</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>maccinz_house</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>ic_maccinz_house</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>maccinz_mountains</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>ic_maccinz_mountains</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>maccinz_ramadan_night</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>ic_maccinz_ramadan_night</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
        </dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array>
                <string>flat-moon</string>
            </array>
            <key>UIPrerenderedIcon</key>
            <false/>
        </dict>
    </dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1</string>
	<key>CFBundleVersion</key>
	<string>24</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.reference</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>AdobeArabic-Regular.otf</string>
		<string>Damascus.ttc</string>
		<string>KFGQPCUthmanicScriptHAFS.otf</string>
		<string>Scheherazade.ttf</string>
		<string>NotoNaskhArabicUI-Regular.ttf</string>
		<string>JF Flat regular.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>Resources/LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
