ASSETCATALOG_COMPILER_APPICON_NAME=AppIcon
DEAD_CODE_STRIPPING=NO
DERIVE_MACCATALYST_PRODUCT_BUNDLE_IDENTIFIER=NO
DEVELOPMENT_TEAM=486STKKP6Y
ENABLE_BITCODE=NO
ENABLE_PREVIEWS=YES
INFOPLIST_FILE=Azkar/Info.plist
IPHONEOS_DEPLOYMENT_TARGET=14.0
PRODUCT_BUNDLE_IDENTIFIER=io.jawziyya.azkar-app
PRODUCT_NAME=Azkar
SDKROOT=iphoneos
SUPPORTED_PLATFORMS=iphonesimulator iphoneos
SUPPORTS_MACCATALYST=YES
SWIFT_VERSION=5.4.2
TARGETED_DEVICE_FAMILY=1,2

CODE_SIGN_IDENTITY[config=Debug]=iPhone Developer
CODE_SIGN_IDENTITY[config=Release]=iPhone Distribution
CODE_SIGN_IDENTITY[sdk=macosx*][config=Debug]=Mac Developer
CODE_SIGN_IDENTITY[sdk=macosx*][config=Release]=3rd Party Mac Developer Application
LD_RUNPATH_SEARCH_PATHS[config=Debug]=["$(inherited)", "@executable_path/Frameworks"]
LD_RUNPATH_SEARCH_PATHS[config=Release]=["$(inherited)", "@executable_path/Frameworks"]
PROVISIONING_PROFILE_SPECIFIER[config=Debug]=match Development io.jawziyya.azkar-app
PROVISIONING_PROFILE_SPECIFIER[config=Release]=match AppStore io.jawziyya.azkar-app
PROVISIONING_PROFILE_SPECIFIER[sdk=macosx*][config=Debug]=match Development io.jawziyya.azkar-app catalyst
PROVISIONING_PROFILE_SPECIFIER[sdk=macosx*][config=Release]=match AppStore io.jawziyya.azkar-app catalyst
SWIFT_ACTIVE_COMPILATION_CONDITIONS[config=Debug]=DEBUG
SWIFT_COMPILATION_MODE[config=Debug]=singlefile
SWIFT_COMPILATION_MODE[config=Release]=wholemodule
SWIFT_OPTIMIZATION_LEVEL[config=Debug]=-Onone
SWIFT_OPTIMIZATION_LEVEL[config=Release]=-Owholemodule
